@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  width: 80%;
  margin: auto;
  font-family: "Inter", sans-serif;
}

header {
  background-color: lightgray;
  text-align: center;
  height: 100px;
  margin: 1em;
}

header h1 {
  line-height: 100px;
}
