body {
  width: 80%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: lightgray;
  text-align: center;
  height: 100px;
  margin: 1em;
}

header h1 {
  line-height: 100px;
}
