.blog-header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  gap: 5em;
}

#back-button {
  cursor: pointer;
  height: 40px;
  width: 100px;
  color: blue;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

#back-button:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}
